# Files
git.hash
nextflow.config
todo
mito_full.nf

# Suffix
*~
container/*.sif
*.sif
.nextflow*
*.html
*#
*.orig
*.tbi

# Folders
__pycache__/
work/
data/
output/
.vscode/

# Ref tools
bin/reference_tools/*.log
bin/reference_tools/*.bed
bin/reference_tools/refdata/*.vcf.gz

