singularity{
  enabled = true	
  runOptions = '--bind /data/bnf/ref/b37 --bind /data/tmp --bind /data/bnf/dev/bjorn/tumwgs --bind /data/bnf/ref/sentieon/ --bind /data/NextSeq2/190308_NB501699_0120_AHJGJLAFXY/Data/Intensities/BaseCalls/ --bind /data/NextSeq2/190402_NB501699_0129_AHMNMCBGX9/Data/Intensities/BaseCalls/'
}

env{
  SENTIEON_LICENSE='mtlucmds2.lund.skane.se:8990'
}

process.executor='slurm'
process.queue='trannel'