singularity{
  enabled = true	
  runOptions = '--bind /fs1/'
}

env{
  SENTIEON_LICENSE='10.139.0.101:8990'
  bwt_max_mem='50G'
}


params {
  refpath = '/fs1/resources/ref/hg19/'
  bwa_shards = 8

  genomic_shards_file = 'shards.csv'
  genomic_shards_num = 31
  genome_file="${refpath}/fasta/human_g1k_v37_decoy.fasta"
  CADD = "${refpath}/annotation_dbs/whole_genome_SNVs_1.4.tsv.gz"
  VEP_FASTA = "${refpath}/vep/.vep/87_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa"
  MAXENTSCAN = "${refpath}/vep/.vep/Plugins/MaxEntScan_scripts"
  VEP_CACHE = "${refpath}/vep/.vep"
  GNOMAD = "${refpath}/annotation_dbs/gnomad.exomes.r2.0.1.sites.vcf___.gz,gnomADg,vcf,exact,0,AF,AF_AFR,AF_AMR,AF_ASJ,AF_EAS,AF_FIN,AF_NFE,AF_OTH"
  GERP = "${refpath}/annotation_dbs/All_hg19_RS.bw,GERP,bigwig"
  PHYLOP =  "${refpath}/annotation_dbs/hg19.100way.phyloP100way.bw,phyloP100way,bigwig"
  PHASTCONS = "${refpath}/annotation_dbs/hg19.100way.phastCons.bw,phastCons,bigwig"

  SNPSIFT = "java -jar /opt/conda/envs/exome_general/share/snpsift-4.3.1t-1/SnpSift.jar"
  CLINVAR = "${refpath}/annotation_dbs/clinvar_20190225.vcf.gz"
  SWEGEN = "${refpath}/annotation_dbs/anon-SweGen_STR_NSPHS_1000samples_freq_hg19.vcf.gz"
  SPIDEX = "${refpath}/annotation_dbs/hg19_spidex.tsv.gz"

  sentieon_model = "/fs1/resources/ref/sw/sentieon/SentieonDNAscopeModelBeta0.4a-201808.05.model"

}

process {
  executor='slurm'
  queue='normal'
  time=48.h
}