singularity {
  enabled = true	
  runOptions = '--bind /fs1/ --bind /local/ --bind /mnt/beegfs/ --bind /fs2/'
}

env {
  SENTIEON_LICENSE='10.139.0.101:8990'
  bwt_max_mem='50G'
}


params {
  // GENERAL PATHS //
  refpath = '/fs1/resources/ref/hg38/'
  container = '/fs1/resources/containers/wgs_2021-03-16.sif'
  
  // results dir //
  resultsdir = "/fs1/results"
  loaddir = "/access/"
  dev = false
  dev_suffix = ''
  if (params.dev) {
    dev_suffix = '_dev'
    loaddir = resultsdir + dev_suffix
  }

  // SENTIEON CONFIGS //
  sentieon_model = '/fs1/resources/ref/sw/sentieon/SentieonDNAscopeModelBeta0.4a-201808.05.model'
  bwa_shards = 8
  shardbwa = false
  git = "$baseDir/git.hash"
  
  // CPU counts //
  cpu_all = 50
  cpu_many = 16
  cpu_some = 8

  // FASTA //
  genome_file       = "${refpath}/fasta/GCA_000001405.15_GRCh38_no_alt_analysis_set_nochr.fna"
  GENOMEDICT        = "${refpath}/fasta/GCA_000001405.15_GRCh38_no_alt_analysis_set_nochr.dict"
  split_ref         = "${refpath}/fasta/split/"
  
  rCRS_fasta        = "${refpath}/fasta/split/M.fa"

  // VEP REFERENCES //

  VEP_DIR           = "${refpath}/vep/vep111.0"
  VEP_CACHE         = "${VEP_DIR}"
  VEP_PLUGINS       = "${VEP_DIR}/Plugins"
  VEP_SYNONYMS      = "${VEP_DIR}/synonyms"
  VEP_FASTA         = "${VEP_DIR}/homo_sapiens_merged/111_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz"
  VEP_MAX_SV_SIZE   = "50000000"
  VEP_TRANSCRIPT_DISTANCE      = "200"
  
  // VEP ANNOTATION DBS //
  CADD              = "${refpath}/annotation_dbs/CADD_v1.7/whole_genome_SNVs.tsv.gz"
  DBNSFP            = "${refpath}/annotation_dbs/dbnsfp/dbNSFP4.3a_grch38.gz"
  GNOMAD_EXOMES     = "${refpath}/annotation_dbs/gnomad_2.1/gnomad.exomes.r2.1.sites.grch38.ALLchr.minified.sort.vcf.gz"
  GNOMAD_GENOMES    = "${refpath}/annotation_dbs/gnomad_2.1_genomes/gnomad_genomes_2.1_hg38_minified.miniheader.vcf.gz"
  GNOMAD_MT         = "${refpath}/annotation_dbs/gnomad_3.1/gnomad.genomes.v3.1.sites.MT.vcf.bgz"
  MAXENTSCAN        = "${VEP_PLUGINS}/MaxEntScan_scripts"  
  PHYLOP            = "${refpath}/annotation_dbs/hg38.phyloP100way.bw"
  PHASTCONS         = "${refpath}/annotation_dbs/hg38.phastCons100way.bw"
 
  // ANNOTATION DBS GENERAL //
  KNOWN             = "${refpath}/annotation_dbs/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
  CLINVAR           = "${refpath}/annotation_dbs/clinvar38_latest.vcf.gz"

  // SCOUT //
  scoutbed          = "${refpath}/bed/scout/hgnc.grch38p13.exons.sort.bed"
  panelsdef         = "/fs1/resources/scout/scout_gene_panel__latest.json"

  gene_regions      = "${refpath}/gtf/gencode.v33.exons.sort.merge.bed"
  
  // EXPANSION HUNTER //
  expansionhunter_catalog     = "${refpath}/expansionhunter/variant_catalog_hg38_240110.json"
  expansionhunter_catalog_gav = "${refpath}/expansionhunter/variant_catalog_hg38.json"

  COV_INTERVAL_LIST = "${refpath}/gatk_cnv/targets_preprocessed_100bp_bins.interval_list"
  GATK_PON_FEMALE   = "${refpath}/gatk_cnv/100_females_masked_hg38_wgs_20231204.hdf5"
  GATK_PON_MALE     = "${refpath}/gatk_cnv/100_males_masked_hg38_wgs_20231208.hdf5"
  FASTGNOMAD_REF    = "${refpath}/annotation_dbs/gnomad_hg38.0.00001.dat"
  GENS_GNOMAD       = "${refpath}/annotation_dbs/gnomad_hg38.0.05.txt"
  VCFANNO_LUA       = "/fs1/resources/ref/hg19/bed/scout/sv_tracks/silly.lua"

  // SLURM MISC //
  queue             = 'normal'

  // CONTAINERS //
  container_vep = "/fs1/resources/containers/ensembl-vep_release_111.0.sif"
  container_fastp = '/fs1/resources/containers/fastp_0.23.4.sif'
  container_sentieon = '/fs1/resources/containers/sentieon_202308.sif'

}

process {
  executor = 'slurm'
  queue = params.queue
  time = 48.h
  container = params.container
}

profiles {
  hg38_masked {
    params.genome_file="${params.refpath}/fasta/masked/GCA_000001405.15_GRCh38_no_alt_analysis_set_nochr_masked.fna"
    params.GENOMEDICT="${params.refpath}/fasta/masked/GCA_000001405.15_GRCh38_no_alt_analysis_set_nochr_masked.dict"
  }
  
  wgs {
    params.outdir = "${params.resultsdir}${params.dev_suffix}"
    params.subdir = 'wgs'
    params.crondir = "${params.outdir}/cron/"
    params.intersect_bed = "${params.refpath}/bed/wgsexome/exons_108padded20bp_clinvar-20231230padded5bp.bed"
    params.align = true
    params.varcall = true
    params.annotate = true
    params.gatkcov = true
    params.exome=false
    params.sv = true
    params.str = true
    params.onco = false
    params.gatkcnv = true
    params.umi = false
    params.delly = false
    params.svdb = "${params.refpath}/annotation_dbs/wgs/loqusdb/loqusdb_sv_latest.vcf.gz"
    params.distributed = false
    params.intervals = "PH"
    params.bedgz = "PH"
    // RANK MODELS // 
    params.rank_model_s = "/fs1/resources/scout/rank_models_38/rank_model_v5.2.1_single__VEP111.ini"
    params.rank_model = "/fs1/resources/scout/rank_models_38/rank_model_v5.2.1__VEP111.ini"
    params.svrank_model_s = "/fs1/resources/scout/rank_models_38/svrank_single_v5.2__FIXARTEFACTCUTOFF__VEP111.ini" 
    params.svrank_model = "/fs1/resources/scout/rank_models_38/svrank_model_v5.2__FIXARTEFACTCUTOFF__VEP111.ini"
    params.loqusdb = "loqusdb_38"
    params.antype = "wgs"
    params.assay = "wgs"
    params.noupload = false
    params.vcfanno = "${params.refpath}/annotation_dbs/wgs/vcfanno/vcf_anno"
    params.gatk_intervals = "${params.refpath}/gatk_cnv/cnvref/masked_hg38/masked_hg38.preprocessed.blacklisted.gcfiltered.noalt.interval_list"
    params.ploidymodel = "${params.refpath}/gatk_cnv/cnvref/masked_hg38/ploidy-model"
    params.gatkreffolders = "${params.refpath}/gatk_cnv/cnvref/masked_hg38/gatk_ref"
    params.gens_accessdir = "/access/wgs/plot_data"
    params.accessdir = params.loaddir + "/wgs/"
  }

  oncov1 {
    params.outdir = "${params.resultsdir}${params.dev_suffix}"
    params.subdir = 'twist-onco'
    params.crondir = "${params.outdir}/cron/"
    params.intersect_bed = "${params.refpath}/bed/twist-brca/oncov1-0.bed"
    params.align = true
    params.varcall = true
    params.annotate = true
    params.gatkcov = false
    params.exome = false
    params.sv = true
    params.str = false
    params.onco = true
    params.umi = true
    params.gatkcnv = false
    params.distributed = false
    params.delly = true
    params.intervals = "${params.refpath}/bed/twist-brca/oncov1-0.interval_list"
    params.bedgz = "${params.refpath}/bed/twist-brca/oncov1-0.bed.gz"
    params.bed_melt = "${params.refpath}/bed/MELT/Hg38.genes.bed"
    params.mei_list = "${params.refpath}/annotation_dbs/MELT/mei_list_withpriors.txt"
    params.meltheader = "/fs1/resources/ref/hg38/annotation_dbs/MELT/melt_vcf_header"
    params.svdb = "${params.refpath}/annotation_dbs/onco-solid/artefact-sv/200513/svdb_200513.db"
    // RANK MODELS /////////////////////////////////////////////////////////////////////////////////////////////
    params.svrank_model_s = "/fs1/resources/scout/rank_models_38/svrank_single_v1.0_panel__VEP111.ini"
    params.rank_model = "/fs1/resources/scout/rank_models_38/rank_model_cmd_v4__VEP111.ini"
    params.rank_model_s = "/fs1/resources/scout/rank_models_38/rank_model_cmd_v4_single_withoutmodels_onco__VEP111.ini"
    params.svrank_model = "/fs1/resources/scout/rank_models_38/svrank_model_v1.0__VEP111.ini"
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    params.vcfanno = "${params.refpath}/annotation_dbs/onco-solid/vcfanno/vcfanno_onco"
    params.cnvkit_reference = "${params.refpath}/annotation_dbs/onco-solid/cnvkit_ref/oncov1-0.cnn"
    params.loqusdb = "loqusdb_onco"
    params.antype = "panel"
    params.assay = "swea"
    params.noupload = false
    params.scoutbed = "${params.refpath}/bed/twist-brca/oncov1-0_coding.bed"
    params.gatk_intervals = "${params.refpath}/annotation_dbs/onco-solid/gatk_ref/oncov1-0.interval_list"
    params.ploidymodel = "${params.refpath}/annotation_dbs/onco-solid/gatk_ref/ploidy-model-oncov1-0"
    params.gatkreffolders = "${params.refpath}/annotation_dbs/onco-solid/gatk_ref/gatk_ref_oncov1-0"
    params.gens_accessdir = "/access/twist-onco/plot_data"
    params.accessdir = params.loaddir + "/twist-onco/"
  }

  onco {
    params.outdir = "${params.resultsdir}${params.dev_suffix}"
    params.subdir = 'twist-onco'
    params.crondir = "${params.outdir}/cron/"
    params.intersect_bed = "${params.refpath}/bed/twist-brca/oncov2-0.bed"
    params.align = true
    params.varcall = true
    params.annotate = true
    params.gatkcov = false
    params.exome = false
    params.sv = true
    params.str = false
    params.onco = true
    params.umi = true
    params.gatkcnv = true
    params.distributed = false
    params.delly = false
    params.intervals = "${params.refpath}/bed/twist-brca/oncov2-0.interval_list"
    params.bedgz = "${params.refpath}/bed/twist-brca/oncov2-0.bed.gz"
    params.bed_melt = "${params.refpath}/bed/MELT/Hg38.genes.bed"
    params.mei_list = "${params.refpath}/annotation_dbs/MELT/mei_list_withpriors.txt"
    params.meltheader = "/fs1/resources/ref/hg38/annotation_dbs/MELT/melt_vcf_header"
    params.svdb = "${params.refpath}/annotation_dbs/onco-solid/loqusdb/loqusdb_oncosv_export_20220318.vcf"
    params.svrank_model_s = "/fs1/resources/scout/rank_models_38/svrank_single_v1.02_panel__VEP111.ini"
    params.rank_model = "/fs1/resources/scout/rank_models_38/rank_model_cmd_v4__VEP111.ini"
    params.rank_model_s = "/fs1/resources/scout/rank_models_38/rank_model_cmd_v5.0_single_withoutmodels_onco__VEP111.ini"
    params.svrank_model = "/fs1/resources/scout/rank_models_38/svrank_model_v1.0__VEP111.ini"
    params.vcfanno = "${params.refpath}/annotation_dbs/onco-solid/vcfanno/vcfanno_onco"
    params.cnvkit_reference = "${params.refpath}/annotation_dbs/onco-solid/cnvkit_ref/oncov2-0.cnn"
    params.loqusdb = "loqusdb_onco"
    params.antype = "panel"
    params.assay = "swea"
    params.noupload = false
    params.scoutbed = "${params.refpath}/bed/twist-brca/oncov2-0_coding.bed"
    params.gatk_intervals = "${params.refpath}/annotation_dbs/onco-solid/gatk_ref/oncov2-0.interval_list"
    params.ploidymodel = "${params.refpath}/annotation_dbs/onco-solid/gatk_ref/ploidy-model-oncov2-0"
    params.gatkreffolders = "${params.refpath}/annotation_dbs/onco-solid/gatk_ref/gatk_ref_oncov2-0"
    params.gens_accessdir = "/access/twist-onco/plot_data"
    params.accessdir = "/access/twist-onco/"
  } 

exome {
    params.outdir = "${params.resultsdir}${params.dev_suffix}"
    params.subdir = 'twist-exome'
    params.crondir = "${params.outdir}/cron/"
    params.intersect_bed = "${params.refpath}/bed/exome/Twist_Exome_Target_spikeIn.hg38.nochr.bed"
    params.align = true
    params.varcall = true
    params.annotate = true
    params.gatkcov = false
    params.exome = true
    params.sv = false
    params.str = false
    params.onco = false
    params.umi = true
    params.distributed = false
    params.intervals = "${params.refpath}/bed/exome/Twist_Exome_Target_spikeIn.hg38.nochr.intervals"
    params.bedgz = "${params.refpath}/bed/exome/Twist_Exome_Target_spikeIn.hg38.nochr.bed.gz"
    params.bed_melt = "${params.refpath}/bed/MELT/Hg38.genes.bed"
    params.mei_list = "${params.refpath}/annotation_dbs/MELT/mei_list.txt"
    params.meltheader = "/fs1/resources/ref/hg38/annotation_dbs/MELT/melt_vcf_header"
    params.svdb = "${params.refpath}/annotation_dbs/onco-solid/artefact-sv/200513/svdb_200513.db"
    params.svrank_model_s = "/fs1/resources/scout/rank_models_38/svrank_single_v1.0_panel__VEP111.ini"
    params.rank_model = "/fs1/resources/scout/rank_models_38/rank_model_cmd_v4__VEP111.ini"
    params.rank_model_s = "/fs1/resources/scout/rank_models_38/rank_model_cmd_v4_single_withoutmodels_onco__VEP111.ini"
    params.svrank_model = "/fs1/resources/scout/rank_models_38/svrank_model_v1.0__VEP111.ini"
    params.vcfanno = "${params.refpath}/annotation_dbs/onco-solid/vcfanno/vcfanno_onco"
    params.cnvkit_reference = "/fs1/viktor/cnvkit/bams/reference_20200505.cnn"
    params.loqusdb = "twist_exome"
    params.antype = "panel"
    params.assay = "exome"
    params.noupload = false
    params.gatkreffolders = "/fs1/viktor/gatk_ref/gatk_ref"
    params.gens_accessdir = "/access/wgs/plot_data"
    params.accessdir = "/access/exome/"
  } 

myeloid {
    params.outdir = "${params.resultsdir}${params.dev_suffix}"
    params.subdir = 'myeloid_const'
    params.crondir = "${params.outdir}/cron/"
    params.intersect_bed = "${params.refpath}/bed/myeloid-twist/all_target_segments_covered_by_probes_LundUni-Targets+Genes_NGSTECustom_0001506c_hg38_padded.bed"
    params.align = true
    params.varcall = true
    params.annotate = true
    params.gatkcov = false
    params.exome = true
    params.sv = false
    params.str = false
    params.onco = false
    params.gatkcnv = false
    params.umi = true
    params.distributed = false
    params.intervals = "${params.refpath}/bed/myeloid-twist/all_target_segments_covered_by_probes_LundUni-Targets+Genes_NGSTECustom_0001506c_hg38_padded.interval_list"
    params.bedgz = "${params.refpath}/bed/exome/Twist_Exome_Target_spikeIn.hg38.nochr.bed.gz"
    params.bed_melt = "${params.refpath}/bed/MELT/Hg38.genes.bed"
    params.mei_list = "${params.refpath}/annotation_dbs/MELT/mei_list.txt"
    params.meltheader = "/fs1/resources/ref/hg38/annotation_dbs/MELT/melt_vcf_header"
    params.svdb = "${params.refpath}/annotation_dbs/onco-solid/artefact-sv/200513/svdb_200513.db"
    params.svrank_model_s = "/fs1/resources/scout/rank_models_38/svrank_single_v1.0_panel__VEP111.ini"
    params.rank_model = "/fs1/resources/scout/rank_models_38/rank_model_cmd_v4__VEP111.ini"
    params.rank_model_s = "/fs1/resources/scout/rank_models_38/rank_model_cmd_v4_single_withoutmodels_onco__VEP111.ini"
    params.svrank_model = "/fs1/resources/scout/rank_models_38/svrank_model_v1.0__VEP111.ini"
    params.vcfanno = "${params.refpath}/annotation_dbs/onco-solid/vcfanno/vcfanno_onco"
    params.cnvkit_reference = "/fs1/viktor/cnvkit/bams/reference_20200505.cnn"
    params.loqusdb = "myeloid_const"
    params.antype = "panel"
    params.assay = "exome"
    params.noupload = false
    params.gatkreffolders = "${params.refpath}/gatk_cnv/onco/cnvref/gatk_ref"
    params.gens_accessdir = "/access/myeloid_const/plot_data"
    params.accessdir = "/access/myeloid_const/"
  } 
}
