singularity{
  enabled = true	
  runOptions = '--bind /fs1/'
}

env{
  SENTIEON_LICENSE='10.139.0.101:8990'
  bwt_max_mem=50G
}


params {
  refpath = '/fs1/resources/ref/'
  bwa_shards = 8

  genomic_shards_file = 'shards.csv'
  genomic_shards_num = 31
}

process {
  executor='slurm'
  queue='normal'
  time=48.h
}